/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}
/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
}
/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* /CSS RESET */

/* Navigation Bar */
.navitem {
	background-color: white;
	position: absolute;
	float: right;
	right: 0;
	padding: 5px;
	border-radius: 20px 0px 0px 20px;
}
.navbar-brand {
	font-family: caveat;
	font-size: 3rem;
	color: #352771;
	font-weight: bold;
}

.nav-link {
	font-family: poppins;
	font-size: 1.3rem;
	color: #352771;
}
/* End of Navigation bar */

/* Hero */
#hero {
	position: relative;
	height: 100vh;
	background-color: #5e89ef;
}
#hero h1 {
	font-family: caveat;
	color: #352771;
	font-size: 8rem;
	font-weight: bold;
}
#hero h3 {
	font-family: poppins;
	font-size: 1.8rem;
	color: #f7f5b2;
	font-weight: bold;
}
.illustration {
	position: absolute;
	float: right;
	width: 650px;
	bottom: 0;
	right: 0;
}
#hero button {
	font-family: poppins;
	padding: 5px 20px 5px 20px;
	border-radius: 5px;
	font-size: 2rem;
	font-weight: bold;
	color: #352771;
	background-color: #f7f5b2;
	border: none;
	margin-top: 10px;
}
/* End of Hero */
