/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}
/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}
html,
body {
	font-family: poppins;
	height: 100%;
}
/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* /CSS RESET */

#doremind {
	font-family: caveat;
	color: hsl(251, 49%, 30%);
	font-weight: bold;
}

/* Navigation Bar */
.navbar {
	z-index: 8;
	background-color: hsl(222, 82%, 65%);
	border-bottom: 5px white;
}

.navitem {
	background-color: white;
	position: absolute;
	float: right;
	right: 0;
	padding: 5px;
	border-radius: 20px 0px 0px 20px;
}
.navbar-brand {
	font-family: caveat;
	font-size: 4vw;
	color: hsl(251, 49%, 30%);
	font-weight: bold;
}

.nav-link {
	font-size: 1.5vw;
	color: hsl(251, 49%, 30%);
}
/* End of Navigation bar */

/* Hero */
#hero {
	position: relative;
	height: 100vh;
	background-color: hsl(222, 82%, 65%);
}
#hero img {
	width: 40vw;
}
#hero h1 {
	font-family: caveat;
	color: hsl(251, 49%, 30%);
	font-size: 9vw;
	font-weight: bold;
}
#hero h3 {
	font-size: 1.8vw;
	color: hsl(58, 81%, 83%);
	font-weight: bold;
}

#hero button {
	padding: 5px 20px 5px 20px;
	border-radius: 5px;
	font-size: 2vw;
	font-weight: bold;
	color: hsl(251, 49%, 30%);
	background-color: hsl(58, 81%, 83%);
	border: none;
	margin-top: 10px;
}
/* End of Hero */

/* login form */
.popup {
	position: fixed;
	border: 10px solid hsl(222, 82%, 65%);
	border-radius: 1.875rem;
	top: 50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(0);
	width: 30rem;
	height: 35rem;
	background-color: hsl(0, 0%, 100%);
	padding: 4rem 3.75rem;
	text-align: center;
	transition: 200ms ease-in-out;
	z-index: 10;
}

.popup.active {
	transform: translate(-50%, -50%) scale(1);
}

.popup .close-btn {
	background: none;
	border: none;
	color: hsl(222, 82%, 65%);
	position: absolute;
	top: 10px;
	right: 10px;
	width: 4.5rem;
	height: 1rem;
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
	transition: color 150ms ease-in-out;
}

.popup .close-btn:hover {
	color: hsl(222, 82%, 55%);
}

#overlay {
	position: fixed;
	opacity: 0;
	inset: 0;
	background-color: hsla(0, 0%, 0%, 0.5);
	backdrop-filter: blur(5px);
	transition: 200ms ease-in-out;
	pointer-events: none;
	z-index: 9;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.popup h1 {
	color: hsl(251, 49%, 30%);
	font-family: "Caveat", cursive;
	font-size: 3.5rem;
	margin-bottom: 1.3rem;
}

.popup h3 {
	color: hsl(222, 82%, 65%);
	font-weight: 400;
	margin-bottom: 3rem;
}

.popup .form-element {
	margin: 1rem 0;
}

.popup .form-element input {
	border: 1px solid hsl(222, 82%, 65%);
	border-radius: 5px;
	outline: none;
}

.popup .form-element input[type="text"],
.popup .form-element input[type="password"] {
	margin: 2rem 0;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 1.5rem;
}

.popup .form-element ::placeholder {
	color: hsl(222, 82%, 65%);
	opacity: 0.5;
}

.popup .form-element input,
select,
textarea {
	color: hsl(222, 82%, 65%);
	overflow: hidden;
}

.popup .form-element input,
select,
textarea:focus,
input:focus {
	color: hsl(222, 82%, 65%);
	overflow: hidden;
}

.popup .login {
	width: 100%;
	border-radius: 10px;
	padding: 0.7rem 0;
	border: none;
	outline: none;
	font-size: 1.7rem;
	background-color: hsl(222, 82%, 65%);
}

/* End of login */

/* About Us Start */
#about-us h1 {
	color: hsl(222, 82%, 65%);
	font-family: caveat;
	font-weight: bold;
	font-size: 3.5rem;
}

#about-us p {
	font-size: 1.3rem;
	line-height: 2.3rem;
	color: hsl(251, 49%, 30%);
}
/* About Us End */

/* Features Section Start */

#features h1 {
	margin-bottom: 1rem;
	color: hsl(222, 82%, 65%);
	font-family: caveat;
	font-weight: bold;
	font-size: 3.5rem;
}
#features .card-title {
	color: hsl(251, 49%, 30%);
	font-size: 1.5rem;
}
#features p {
	color: hsl(251, 49%, 30%);
}

.bttn {
	padding: 10px;
	border: none;
	color: hsl(0, 0%, 100%);
	font-size: 1 rem;
	background-color: hsl(222, 82%, 65%);
	margin-bottom: 1.3rem;
	transition: 0.3s ease-in-out;
}
.bttn:hover {
	color: hsl(58, 81%, 83%);
	background-color: hsl(222, 82%, 65%);
	box-shadow: 0 5px 15px hsl(222, 82%, 65%);
	transform: scale(1.1);
}
/* Features Section End */

/* Testimonies section */
.carousel-wrapper {
	padding: 0 15rem 2rem;
}

.carousel-wrapper .carousel-title {
	color: hsl(222, 82%, 65%);
	font-family: "Caveat", cursive;
	font-size: 3.5rem;
}

.carousel-wrapper .carousel-item > img {
	border-radius: 1rem;
}

/* Testimonies Section End */

/* Footer Section Start */
ul {
	margin: 0;
	padding: 0;
}

.footer-section {
	background: hsl(222, 82%, 65%);
	position: relative;
}

.footer-cta {
	border-bottom: 1px solid hsl(58, 81%, 83%);
}

.single-cta i {
	color: hsl(58, 81%, 83%);
	font-size: 1.875rem;
	float: left;
	margin-top: 0.5rem;
}

.cta-text {
	padding-left: 1rem;
	display: inline-block;
}

.cta-text h4 {
	color: hsl(0, 0%, 100%);
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 2px;
}

.cta-text span {
	color: hsl(0, 0%, 100%);
	font-size: 1rem;
}

.footer-content {
	position: relative;
	z-index: 2;
}

.footer-logo {
	margin-bottom: 0.5rem;
}

.footer-logo .footer-title {
	color: hsl(215, 84%, 85%);
	font-family: "Caveat", cursive;
	text-decoration: none;
}

.footer-text p {
	margin-bottom: 0.875rem;
	font-size: 0.875rem;
	color: hsl(0, 0%, 100%);
	line-height: 1.75rem;
}

.footer-social-icon span {
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1.25rem;
}

.footer-social-icon a {
	color: hsl(0, 0%, 100%);
	font-size: 1rem;
	margin-right: 0.9375rem;
}

.footer-social-icon i {
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	line-height: 2.375rem;
	border-radius: 50%;
	transition: opacity 150ms ease-in-out;
}

.footer-social-icon i:hover {
	opacity: 0.9;
}

.facebook-bg {
	background: hsl(221, 44%, 41%);
}

.twitter-bg {
	background: hsl(206, 82%, 63%);
}

.instagram-bg {
	background: hsl(31, 86%, 57%);
	background: -moz-linear-gradient(
		45deg,
		hsl(31, 86%, 57%) 0%,
		hsl(16, 77%, 57%) 25%,
		hsl(351, 72%, 51%) 50%,
		hsl(336, 71%, 47%) 75%,
		hsl(319, 77%, 42%) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsl(31, 86%, 57%) 0%,
		hsl(16, 77%, 57%) 25%,
		hsl(351, 72%, 51%) 50%,
		hsl(336, 71%, 47%) 75%,
		hsl(319, 77%, 42%) 100%
	);
	background: linear-gradient(
		45deg,
		hsl(31, 86%, 57%) 0%,
		hsl(16, 77%, 57%) 25%,
		hsl(351, 72%, 51%) 50%,
		hsl(336, 71%, 47%) 75%,
		hsl(319, 77%, 42%) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.tiktok-bg {
	background: hsl(0, 0%, 0%);
}

.linkedin-bg {
	background: hsl(199, 85%, 36%);
}

.footer-widget-heading h3 {
	color: hsl(0, 0%, 100%);
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	position: relative;
}

.footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.9375rem;
	height: 2px;
	width: 5rem;
	background: hsl(58, 81%, 83%);
}
.footer-widget ul li {
	list-style: none;
	float: left;
	width: 50%;
	margin-bottom: 0.75rem;
}

.footer-widget ul li a {
	transition: color 150ms ease-in-out;
	text-decoration: none;
}

.footer-widget ul li a:hover {
	color: hsl(58, 81%, 83%);
}

.footer-widget ul li a {
	color: hsl(0, 0%, 100%);
	text-transform: capitalize;
}

.subscribe-form {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.subscribe-form input {
	width: 100%;
	padding: 0.875rem 1.75rem;
	background: hsl(0, 0%, 100%);
	border: 1px solid hsl(215, 84%, 85%);
	color: #f7f5b2;
	outline: none;
}

.subscribe-form input,
select,
textarea {
	color: hsl(0, 0%, 13%);
	overflow: hidden;
}

.subscribe-form input,
select,
textarea:focus,
input:focus {
	color: hsl(0, 0%, 13%);
	overflow: hidden;
}

.subscribe-form ::placeholder {
	color: hsl(0, 0%, 13%);
	opacity: 1;
}

.subscribe-form button {
	position: absolute;
	right: 0;
	background: hsl(251, 49%, 30%);
	padding: 0.8125rem 1.25rem;
	top: 0;
	bottom: 0;
	transition: all 150ms ease-in-out;
	border: none;
}

.subscribe-form button:hover {
	background: hsl(251, 49%, 30%, .9);
}

.subscribe-form button i {
	color: hsl(0, 0%, 100%);
	font-size: 1.375rem;
	transform: rotate(-6deg);
}

.copyright-area {
	background: hsl(251, 94%, 57%);
	padding: 1.5625rem 0;
}

.copyright-text p {
	margin: 0;
	font-size: 0.875rem;
	color: hsl(58, 81%, 83%);
}

.copyright-text p a {
	font-family: "Caveat", cursive;
	font-size: 1.5rem;
	color: hsl(58, 81%, 83%);
	text-decoration: none;
}

.footer-menu li {
	display: inline-block;
	margin-left: 1.25rem;
	margin-top: 0.625rem;
}

.footer-menu li a {
	font-size: 0.875rem;
	color: hsl(58, 81%, 83%);
	text-decoration: none;
	transition: color 150ms ease-in-out;
}

.footer-menu li:hover a {
	color: hsl(0, 0%, 100%);
}
/* Footer end */
